

.table{
    margin-top: 10px;
    border: 8px solid blueviolet;
    text-align: center;
    margin-left: 10px;
    width:1880px;
    background-image: linear-gradient(to bottom right, rgb(233, 160, 240), rgb(247, 247, 126));

}
.book{
    width: 160px;
    height:50px;
    background-color: blue;
    color: white;
    margin-left: 300px;
}
.adddata{
    width: 160px;
    height:50px;
    background-color: blue;
    color: white;
    margin-right:-200px;
    // margin-right: 1px;
}
.logout{
    width: 160px;
    height:50px;
    background-color: blue;
    color: white;
}
.userbooked{
    width: 160px;
    height:50px;
    background-color: blue;
    color: white;
   
}
