<!-- <button (click)="GoBack()" id="back"class="btn btn-primary">BACK-TO-BOOKINGPAGE</button> -->

<div class="container">
    <div class="row" >
      <ng-container *ngFor="let item of bookingList">
        <div class="card col-md-4">
        <img src="/assets/IMAGES/{{ item.image }}" alt="" />
        <h5>{{ item.tittle }}</h5>
        <p> {{item.area}},{{ item.location }} </p>

        <p><strong>PRICE : </strong>$ {{ item.price }}</p>
        <button class="btn btn-primary" (click)="addto(item)">
          ADD TO CART 
        </button>
      </div>
    </ng-container>
  </div>
</div>
