.table{
    margin-top: 10px;
    border: 8px solid blueviolet;
    text-align: center;
    margin-left: 100px;
    width:1700px;
    background-image: linear-gradient(to bottom right, rgb(233, 160, 240), rgb(247, 247, 126));

}