<p (childMessage)="$event"></p>

<div class="container">
  <form
    class="registration-form"
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()">
    <label for="firstname">First Name: </label><br />
    <input
      id="firstname"
      type="text"
      formControlName="firstName" [(ngModel)]="firstname" minlength="4"
      required />
      <div *ngIf="profileForm.touched && profileForm.invalid" class="alert alert-danger">invalid  very short name minimum leter required is 4
        <p *ngIf="profileForm.errors ?.['minlength']"></p>
      </div><br />

    <label for="lastname">Last Name: </label><br />
    <input
      id="lastname"
      type="text" [(ngModel)]="lastname"
      formControlName="lastName"/><br />

    <div formGroupName="address">
      <br />
      <h2>Address</h2>

      <label for="street">Street: </label><br />
      <input
        id="street"
        type="textarea" [(ngModel)]="street"
        formControlName="street" 
        required />
       <br />

      <label for="city">City: </label><br />
      <input
        id="city"
        type="text" [(ngModel)]="city"
        formControlName="city" required/><br />

      <label for="state">State: </label><br />
      <input
        id="state"
        type="text" [(ngModel)]="state"
        formControlName="state" required/><br />

      <label for="zipcode">Zip Code: </label><br />
      <input
        id="zipcode"
        type="tel" [(ngModel)]="zipcode"
        formControlName="zip" required  />
        <p *ngIf="profileForm.touched && profileForm.invalid" class="alert alert-danger">invalid zipcode thats minimum number required is 6></p>
        <br />


      <label for="email">email: </label><br />
      <input
        id="email"
        type="text" [(ngModel)]="email"
        formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$" required /><br />
    </div>
    <p *ngIf="profileForm.touched && profileForm.invalid" class="alert alert-danger">invalid email use small case, uppercase,special characters</p>
    <br />
    <p>Complete the form to enable button.</p>
    <button
      type="submit"
      class="submit"
      (click)="addNewUserRegister()"
      [disabled]="!profileForm.valid" >
      Submit
    </button>

  </form>
</div>
<div class="colorss">
  <h1>
    What Ever You Try To Do Make Sure It Makes You Happy Explore Yourself 😌️
  </h1>
</div>

<h2><b>BENEFIT YOU WILL GET HERE </b></h2>
<div class="facility">
  <div class="cdonechild">
    <img src="assets/IMAGES/location.jpeg" />
    <div>
      <b>Good location view</b>
    </div>
  </div>

  <div class="cdtwochild">
    <img src="assets/IMAGES/party.jpeg" />
    <div>
      <b>Party Hall</b>
    </div>
  </div>
</div>
<div class="facility2">
  <div class="cdthirdchild">
    <img src="assets/IMAGES/hourly.jpeg" />
    <div>
      <b> Hourly Basis roome</b>
    </div>
  </div>

  <div class="cdfourchild">
    <img src="assets/IMAGES/support.jpeg" />
    <div>
      <b>Best Five Star service</b>
    </div>
  </div>
</div>


