
<div class="backround">
  
<h1 class="h1">How it Works ?</h1>
<br />
<div class="h4">
  <h4>
    Roomstay is india's leading hotel marketplace where you can book thousands
    of hotels .At Roomstay you get
  </h4>
  <br />
  <h4>✔️ Affordable rates</h4>
  <br />
  <h4>✔️ Hotels for unmarried and married couples also for tourister</h4>
  <br />
  <h4>✔️ high class facilities</h4>
  <br />
  <h4>✔️ flexible stay packages</h4>
  <br />
</div>
<br />

<h3>
  Excited ? Book a Hotel Room Now
  <button class="btn btn-primary" id="button" (click)="book()">BOOK NOW HOTELS</button>
</h3>
<img class="image" src="assets/IMAGES/work.png" alt="how it works" />
</div>