<div class="container-fluid">
  <div class="col-12">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img
          class="room"
          src="assets/IMAGES/home1.jpeg"
          alt="Random first slide"
        />
      </ng-template>

      <ng-template ngbSlide>
        <img
          class="room"
          src="../assets/IMAGES/home2.jpeg"
          alt="Random second slide"
        />
      </ng-template>

      <ng-template ngbSlide>
        <img
          class="room"
          src="../assets/IMAGES/hoom4.jpeg"
          alt="Random third slide"
        />
      </ng-template>

      <ng-template ngbSlide>
        <img
          class="room"
          src="../assets/IMAGES/room6.jpeg"
          alt="Random fourth slide"
        />
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<br />

<h1><I>Facilities Which We provide</I></h1>
<div class="facility">
  <div class="cdonechild">
    <img src="assets/IMAGES/parking.png" />
    <div>
      <b>CAR PARKING</b>
    </div>
  </div>

  <div class="cdtwochild">
    <img src="assets/IMAGES/roomservice.jpg" />
    <div>
      <b>ROOM-SERVICE</b>
    </div>
  </div>

  <div class="cdthirdchild">
    <img src="assets/IMAGES/internetservice.jpeg" />
    <div>
      <b> Good Internet-Service</b>
    </div>
  </div>

  <div class="cdfourchild">
    <img src="assets/IMAGES/food.jpeg" />
    <div>
      <b>Best Food-Service</b>
    </div>
  </div>
</div>
